
.item {
    color: darkviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item p {
    padding-left: 20px;
}
.img {
    border-radius: 50%;
    width: 100px;
}