@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header__wrapper {
  background-color: rgba(210, 167, 248, 0.545);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;

  display: grid;
  grid-template-areas: "n c";

  /* grid-template-rows: 60px 1fr; */
  grid-template-columns: 1.5fr 7fr;
  /* grid-gap: 10px; */
}

.content__wrapper {
  grid-area: c;
  background-color: rgba(247, 118, 215, 0.158);
  padding: 40px
}