.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialog {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.messages {
    font-size: 20px;
    /* position: relative; */
}
.dilog_form {
    width: 100%;
}